<!-- Global site tag (gtag.js) - Google Analytics with Do Not Track support -->
<script>
  (function(){
    var dnt = navigator.doNotTrack == '1' || window.doNotTrack == '1' || navigator.msDoNotTrack == '1';
    if (dnt) { return; }
    var gaId = '{{ site.data.settings.google_analytics }}';
    if (!gaId) { return; }
    var s = document.createElement('script');
    s.async = true;
    s.src = 'https://www.googletagmanager.com/gtag/js?id=' + gaId;
    s.onload = function(){
      window.dataLayer = window.dataLayer || [];
      function gtag(){ dataLayer.push(arguments); }
      window.gtag = gtag;
      gtag('js', new Date());
      gtag('config', gaId, { anonymize_ip: true });
    };
    document.head.appendChild(s);
  })();
</script>
