{% if site.data.settings.hero.enable == true %}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="row">

        <div class="col col-6 col-d-12">
          <div class="hero__left">
            <div class="hero__image">
              <img class="lazy" data-src="{{ site.data.settings.hero.hero_image | relative_url }}" alt="{{ site.data.settings.author.name }}'s Picture">
            </div>
            {% if site.data.settings.hero.hero_image_caption %}
            <div class="hero__image__caption">{{ site.data.settings.hero.hero_image_caption | markdownify | replace: '<p>' | replace: '</p>' }}</div>
            {% endif %}
          </div>
        </div>

        <div class="col col-6 col-d-12">
          <div class="hero__right">
              <div class="row">
                  <div class="col col-12 col-d-12">
                    {% if site.data.settings.hero.hero_title %}
                      <div class="hero__icon">
                          <i class="fa-solid fa-laptop-code fa-bounce fa-2xl"></i>
                      </div>

                      <div class="hero__title">
                          <h1>{{ site.data.settings.hero.hero_title }}</h1>
                          <hr />
                      </div>

                    {% endif %}

                    {% if site.data.settings.hero.hero_subtitle %}
                    <p class="hero__subtitle">{{ site.data.settings.hero.hero_subtitle }}</p>
                    {% endif %}

                    {% if site.data.settings.hero.hero_description %}
                    <div class="hero__description">
                        <strong><i class="fa-solid fa-marker"></i>  Design </strong>
                        <strong><i class="fa-solid fa-code"></i>  Build </strong>
                        <strong><i class="fa-solid fa-rocket"></i>  Launch </strong>
                        <strong><i class="fa-solid fa-maximize"></i>  Scale </strong>

                        {{ site.data.settings.hero.hero_description | markdownify }}
                    </div>
                    {% endif %}

                    {% if site.data.settings.hero.hero_button_text %}
                    <div class="hero__button">
                        <a href="{{ site.data.settings.hero.hero_button_link | relative_url }}" class="button button--primary">
                            <i class="fa-solid fa-rocket fa-xl"></i> &nbsp;
                            {{ site.data.settings.hero.hero_button_text }}
                        </a>
                        <a href="https://t.me/anataliocs" class="button button--secondary" target="_blank" rel="noopener nofollow">
                            <i class="fa-brands fa-telegram fa-xl"></i> DM
                        </a>

                    </div>
                    {% endif %}


                      <div class="hero__offerings">
                          <hr/>
                          <i class="fa-brands fa-ethereum"></i>
                          <i class="fa-brands fa-node-js"></i>
                          <i class="fa-brands fa-node"></i>
                          <i class="fa-brands fa-css3"></i>
                          <i class="fa-brands fa-html5"></i>
                          <i class="fa-brands fa-rust"></i>
                          <i class="fa-brands fa-sass"></i>
                          <i class="fa-brands fa-aws"></i>
                          <i class="fa-brands fa-linux"></i>
                          <i class="fa-brands fa-discord"></i>
                          <i class="fa-brands fa-java"></i>
                          <i class="fa-brands fa-docker"></i>
                      </div>
                  </div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- end hero -->
{% endif %}