{% if site.data.settings.team.team_image and site.data.settings.team.enable == true %}
<!-- begin section-team -->
<section class="section section-team">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-d-12">

        {% if site.data.settings.team.team_title %}
          <div>
            <h2 class="team__title">{{ site.data.settings.team.team_title }}</h2>
          </div>
        {% endif %}

          <div class="team splide">
          <div class="splide__track">
            <div class="team__inner splide__list">
              {% for team_image in site.data.settings.team.team_image %}
              <div class="team__image splide__slide">
                <img src="{{ team_image.image | relative_url }}" 
                     alt="{{ team_image.alt }}" 
                     loading="lazy" 
                     width="{{ team_image.width | default: '800' }}" 
                     height="{{ team_image.height | default: '600' }}">
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
          <div class="team_button">
              <a href="{{ site.data.settings.team.team_link | relative_url }}" class="button button--secondary">
                  <i class="fa-solid fa-people-group"></i> &nbsp;
                  Meet the Team
              </a>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- end section-team -->
{% endif %}