/* Hero */

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.hero {
  margin-bottom: 70px;

  .row {
    align-items: center;
  }

  @media (max-width: $desktop) {
    .row {
      flex-direction: column;

      .col {
        &:last-child {
          order: -1;
        }
      }
    }
  }

  @media (max-width: $mobile) {
    margin-bottom: 60px;
  }
}

.hero__inner {
  padding: 32px;
  border-radius: 10px;
  background: var(--background-alt-color-2);
  box-shadow: var(--box-shadow-color);

  @media (max-width: $mobile) {
    padding: 24px;
  }
}

.hero__right {
  max-width: 580px;

  .row {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  @media (max-width: $wide) {
    padding-left: 0;
  }

  @media (max-width: $desktop) {
    max-width: 100%;
  }
  @media (max-width: $mobile) {
    max-width: 100%;
  }
}

.hero__icon {
  align-items: center;
  color: var(--heading-font-color);
  margin: 25px 0 25px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 10px yellow, 0 0 20px yellow;
  animation: glow 3s ease-in-out infinite;
  filter: saturate(1.5);

  @media (max-width: $mobile) {
    font-size: 1.25em;
    line-height: 0.05em;
    vertical-align: -0.075em;
  }
}

.hero__title {
  margin: 12px auto 12px auto;
  color: var(--heading-font-color);
  text-align: center;
  width: fit-content;
  background: var(--gradient-color); /* Define your gradient colors and direction */
  -webkit-background-clip: text; /* Clip the background to the shape of the text (for WebKit browsers) */
  background-clip: text; /* Standard property for clipping background to text */
  -webkit-text-fill-color: transparent; /* Make the text transparent to reveal the background gradient (for WebKit browsers) */
  text-fill-color: transparent; /* Standard property for transparent text fill */

  hr {
    margin: 0;
    height: 2px;
    background: var(--gradient-color);
  }

  h1 {
    font-size: 68px;
    line-height: 1.3;
    margin: 0;
  }

  @media (max-width: $mobile) {
    margin: 10px auto 10px auto;

    h1 {
      font-size: 46px;
      line-height: 1.2;
    }
  }
}

.hero__subtitle {
  margin-bottom: 24px;
  font-family: $heading-font-family;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);

  @media (max-width: $mobile) {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.hero__description {
  margin-bottom: 16px;

  strong {
    line-height: 1.2;
    background: var(--gradient-color); /* Define your gradient colors and direction */
    -webkit-background-clip: text; /* Clip the background to the shape of the text (for WebKit browsers) */
    background-clip: text; /* Standard property for clipping background to text */
    -webkit-text-fill-color: transparent; /* Make the text transparent to reveal the background gradient (for WebKit browsers) */
    text-fill-color: transparent;
  }

  p {
    margin-bottom: 16px;
  }

  a:not([class]) {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    color: var(--heading-font-color);

    &:hover {
      color: var(--primary-color);
    }
  }

  @media (max-width: $mobile) {
    font-size: 16px;

    p {
      margin-bottom: 12px;
    }
  }
}

.hero__button {
  margin-top: 16px;

  @media (max-width: $mobile) {
    margin-top: 8px;
  }
}

.hero__left {
  @media (max-width: $desktop) {
    margin-top: 40px;
  }
}

.hero__image {
  position: relative;
  transform: translate(0);
  width: 100%;
  height: 534px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--box-shadow-1);
  background: var(--background-color);
  user-select: none;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: $desktop) {
    height: auto;
    aspect-ratio: 4/3;

    @supports not (aspect-ratio: 4/3) {
      height: 0;
      padding-bottom: 75%;
    }
  }
}

.hero__offerings {
  margin: 20px auto 20px auto;
  font-size: 24px;
  color: var(--heading-font-color);

  hr {
    margin: 25px 0 15px 0;
    height: 1px;
    opacity: 0.4;
    background: var(--gradient-color);
  }

  i {
    margin: 5px 5px 5px 5px;
    text-shadow: 0 0 1px yellow, 0 0 5px yellow;
    animation: glow 5s linear infinite;
  }

  @media (max-width: $mobile) {
    margin-bottom: 20px;
    font-size: 18px;
  }
}